/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
* {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  background: linear-gradient(to bottom, #f9fafb, #d2d6db);
}

.container {
  min-height: 100vh;
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;

  padding: 104px 96px;
  border-radius: 6px;
  box-shadow: 0 4px 6px -2px rgb(0 0 0 / 0.05), 0 10px 15px -3px rgb(0 0 0 / 0.10);

  background: linear-gradient(to bottom, #f9fafb, #edf0f3);
}

.hero-section__content,
.hero-section__banner {
  grid-column: span 4 / span 4;
}

.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.hero-section__banner {
  width: 100%;
  object-fit: cover;
  padding: 32px 0;
  border-radius: 8px;
}

.hero-section__content__message {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-section__content__message__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #171717;
}

.hero-section__content__message__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #525252;
}

.hero-section__content__actions {
  display: flex;
  gap: 16px;
}

.hero-section__content__actions__button {
  flex: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  cursor: pointer;
  outline: none;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.06), 0 1px 3px 0 rgb(0 0 0 / 0.10);

  font-weight: 500;
}

.button:focus {
  box-shadow: 0 0 0 4px rgb(0.2666666805744171 0.2980392277240753 0.9058823585510254 / 0.12);
}

.button--primary {
  border: none;
  background-color: #4338ca;
  color: #ffffff;
}

.button--primary:hover,
.button--primary:focus {
  background-color: #3730a3;
  color: #ffffff;
}

.button--primary:disabled {
  background-color: #f5f5f5;
  color: #a3a3a3;
}

.button--secondary {
  border: 0.5px solid #e5e5e5;
  background-color: #ffffff;
  color: #171717;
}

.button--secondary:hover,
.button--secondary:focus {
  border: 1px solid #e5e5e5;
  background-color: #fafafa;
  color: #0a0a0a;
}

.button--secondary:disabled {
  border: none;
  background-color: #f5f5f5;
  color: #a3a3a3;
}

.button--size-2xl {
  height: 48px;
  padding: 12px 20px;

  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .hero-section__content,
  .hero-section__banner {
    grid-column: span 6 / span 6;
  }

  .hero-section__content {
    gap: 64px;
  }

  .hero-section__banner {
    padding: 64px 0;
    border-radius: 16px;
  }

  .hero-section__content__message {
    gap: 24px;
  }

  .hero-section__content__message__title {
    font-size: 48px;
    line-height: 48px;
  }

  .hero-section__content__message__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .hero-section__content__actions {
    gap: 32px;
  }

  .hero-section__content__actions__button {
    flex: none;
    width: 213px;
  }

  .button--size-2xl {
    height: 60px;
    padding: 16px 24px;

    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .hero-section__content {
    grid-column: span 5 / span 5;
    gap: 64px;
  }

  .hero-section__banner {
    grid-column: span 7 / span 7;
  }

  .hero-section__banner {
    padding: 64px 0;
    border-radius: 16px;
  }

  .hero-section__content__message {
    gap: 24px;
  }

  .hero-section__content__message__title {
    font-size: 60px;
    line-height: 60px;
  }

  .hero-section__content__message__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .hero-section__content__actions {
    gap: 32px;
  }

  .hero-section__content__actions__button {
    flex: none;
    width: 213px;
  }

  .button--size-2xl {
    height: 60px;
    padding: 16px 24px;

    font-size: 18px;
    line-height: 28px;
  }
}